
.jumbotron{
    margin-bottom: 0px;
    background-color: black;
    color: blanchedalmond;
}
#sky{
    background: #000 url("img/hand.jpeg") center right;
    z-index=-2;
    background-attachment: fixed;
    background-position: top;
    background-size:cover;
    /*    min-height: 1000px;*/
    width: 100%;
    padding-right: 0px;
    padding-top: 0px;
    
}
#sky .row div:first-child{
/*    position:relative;*/
    min-height:1000px;
}

#sky .row div:last-child{
    z-index: 2;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    min-height:1000px;
}


.row img{
    position: absolute;
    width: 30%;
    height: auto;
    top: 20%;
    left: 40%;
    transform: rotate(330deg);
}

footer {
    background-color: darksalmon;
    color: white;
    min-height: 800px;
    
}


#up-left{
    background: #000 url("img/second.jpg") right top;
    min-height: 1000px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
#up-right{
    background: #000 url("img/naruto.jpg") right top;
    min-height: 1000px;
    background-attachment: fixed;
}

#fly{
    background-color: coral;
}

