
.jumbotron{
    margin-bottom: 0px;
    background-color: coral;
    color: white;
}
#sky{
    background: #000 url("img/sky.jpg") center top;
    z-index=-2;
    background-attachment: fixed;
    background-position: top;
    background-size:cover;
    /*    min-height: 1000px;*/
    width: 100%;
    padding-right: 0px;
    padding-top: 0px;
    
}
#sky .row div:first-child{
/*    position:relative;*/
    min-height:1000px;
}

#sky .row div:last-child{
    z-index: 2;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    min-height:1000px;
}


#sky img{
    position: absolute;
    width: 40%;
    height: auto;
    bottom: 20%;
    left: 40%;
}

footer {
    background-color: coral;
    color: white;
    min-height: 800px;
    
}


#naruto-left{
/*    background: #000 url("https://i.ytimg.com/vi/EJyNH-r_7Ek/maxresdefault.jpg") left top;*/
/*    background-position: -200% 0%;*/
    background: #000 url("img/naruto.jpg") left top;
    min-height: 800px;
    background-attachment: fixed;
    
}
#naruto-right{
    background: #000 url("img/naruto.jpg") right top;
    min-height: 800px;
    background-attachment: fixed;
}

#naruto{
    background-color: coral;
}

